

ul li {
    list-style-type: disc;
}

img {
    width: 200px;
}

body {
    background-color: #B5D5C5;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-width: 5px;
    border-color: gray;
    height: 0px;
    width: 5%;
}

h1,h2,h3,h4,h5 {
    color: #1C82AD;
}